// alert message
.alert {
  @include font-size(16px);
  @include container-content-padding();
  margin: 0 0 $spacer;
  padding: $spacer--large;
  background-color: lighten($rec-pool-blue, 60%);
  color: $rec-pool-blue;
  font-style: italic;

  // remove the extra padding when placed inside a container
  .l-container & {
    padding: $spacer--large;
    border-radius: 8px;
  }

  &--success {
    background-color: lighten($sunny-grass, 40%);
    color: $brand--success;
  }

  &--warning {
    background-color: lighten($brand--warning, 45%);
    color: $brand--warning;
  }

  &--error {
    background-color: lighten($brand--danger, 50%);
    color: $brand--danger;
  }

  // Remove bottom margin
  &--flush {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .button {
    margin-bottom: $spacer--small;
  }

  li .button {
    margin-left: -$spacer;
  }
}
