// Spotlight (view mode)
.vm-spotlight {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  overflow: hidden;

  .no-flexbox & {
    @include clearfix();
    display: block;
  }

  &:hover {

    & .vm-spotlight__body {
      padding: $spacer--small 3% $spacer--small 7%;
    }

    & .vm-spotlight__indicator {
      left: 0;
      opacity: 0.7;
    }
  }

  // Body of text
  &__body {
    @include reset-list-titles();
    flex-grow: 1;
    padding: $spacer--small 5%;
    max-width: 50%;
    color: $black;
    font-weight: $font-weight--bold;
    transition: padding .2s ease-in-out;

    @include breakpoint($bp-wide--up) {
      @include font-size($font-size--large);
    }

    .no-flexbox & {
      float: left;
      padding-top: $spacer--large;
      width: 60%;
    }
  }

  // Large callout of the first word
  &__callout {
    @include font-size(25px, 1.4);
    display: inline-block;
    float: none;
    width: 40px;
    margin-right: .25em;
    padding: 0 $spacer--tiny;
    background-color: $brand--primary;
    color: $white;
    font-weight: $font-weight--bold;
    text-align: center;

    @include breakpoint($bp-small--up) {
      @include font-size(40px);
      width: auto;
    }

    @include breakpoint($bp-huge) {
      @include font-size(50px);
    }
  }

  // Title
  &__title {
    @include font-size(13px, 1.1);
    margin-top: $spacer--small;

    @include breakpoint($bp-small--up) {
      @include font-size(20px);
    }

    @include breakpoint($bp-narrow--up, true) {
      @include font-size(25px, 1.4);
    }
  }

  // Image
  &__image {
    position: relative;
    z-index: $zindex-component-bg;
    max-width: 50%; // This is to prevent the image taking too much space
    overflow: hidden;

    .no-flexbox & {
      float: right;
      max-width: 40%;
    }
  }

  &__indicator {
    position: absolute;
    left: -50%;
    z-index: 3;
    height: 100%;
    width: 400%;
    background-color: $brand--primary;
    background-image: url("../images/read-arrow.svg");
    background-repeat: no-repeat;
    background-position: 11% center;
    background-size: 5%;
    opacity: 0;
    transition: opacity .2s ease-in-out, left .3s ease-in-out;
  }

  // Reverse the direction
  &--rev {
    flex-direction: row-reverse;

    .no-flexbox & {
      .vm-spotlight__body {
        float: right;
      }

      .vm-spotlight__image {
        float: left;
      }
    }
  }
}
